<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Detalles Factura</title>
     <meta name="viewport" content="width=device-width, initial-scale=1"> <!-- generar responsibidad del sitio -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="js/funciones.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/dataTables.bootstrap4.min.css">
    <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.25/js/dataTables.bootstrap4.min.js"></script>
</head>
<body>
<div class="container p-3 my-3 bg-primary text-white">
<h1>Detalle de Factura</h1>
<a class="btn btn-success" href="{% url 'crear_detalle' %}">
        <i class="bi bi-person-plus"></i>
</a>
<br>
<table class="table table-striped table-bordered" id="example">
     <thead class="thead-dark">
      <tr>
        <th>Factura</th>
        <th>Cantidad</th>
        <th>Producto</th>
         <th>Modificar</th>
          <th>Eliminar</th>
      </tr>
    </thead>
    <tbody>
            {% for deta in detalle %}
             <tr class="table-warning">
              <td>{{ deta.factura }}</td>
              <td>{{ deta.cantidad }}</td>
              <td>{{ deta.producto }}</td>
              <td><a class="btn btn-success" href="{% url 'editar_detalle' deta.id %}"><i class="bi bi-pencil-square"></i></a> </td>
              <td><a class="btn btn-danger" href="{% url 'eliminar_detalle' deta.id %}"><i class="bi bi-trash"></i></a> </td>
             </tr>
            {% endfor %}
   </tbody>
</table>
</div>
</body>
</html>